.navbar {
    background: linear-gradient(10deg, #2e757aa4, #f3f3f3);
    padding: 7px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

  }
  .password-prompt {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 5px;
    background-color: #f0f8f9;
    border: 1px solid #12373a;
    border-radius: 10px;
    max-width: 300px;
    margin: 20px auto;
  }
  
  .password-prompt input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
  }
  
  .password-prompt button {
    background-color: #f9fafb;
    color: #12373a;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
  }
  
  .password-prompt button:hover {
    background-color: #e6e6e6a2;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
 .error-message, .password-text{
    color: #12373a !important;

  }
.navbar-link , .navbar-link-buttom, button{
    background-color: #f9fafb; 
    color: #12373a; 
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 10px;
    margin-right: 10px;
  }

  button:hover {
    background-color: #e6e6e6a2;
  }
  .navbar-icon {
    width: 30px; 
    height: 30px;
    margin-right: 10px;
    vertical-align: middle; }
  
  .navbar-link:hover {
    background-color: #e6e6e6a2; 
    transform: scale(1.05); 
  }
  
  
  .navbar-title {
    font-weight: 100;
    letter-spacing: 0.1rem;
    color: #0b2729;
    text-decoration: none;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .navbar-title:hover {
    transform: translateY(-2px);
  }
  
  .navbar-title.h6 h1 {
    font-size: 1.5rem;
  }
  
  .navbar-title.h5 h1 {
    font-size: 1.75rem;
  }
  
  .navbar-title.hidden-xs {
    display: none;
  }
  