@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", 
                 "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: #f3f3f3;
  }
  

:root {
  --primary-color: #373737;
  --secondary-color: #646464;
  --text-color: #12373a;
  --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --background-color: #f9fafb;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}

.lobby-container, .h1-home {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.code-block-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  list-style-type: none;
  padding: 0;
}

.code-block-item {
  margin: 0;
  padding: 0;
}

.code-block-link {
  text-decoration: none;
  display: block;
}

.code-block-title {
  border-radius: 12px;
  box-shadow: var(--card-shadow);
  padding: 1.5rem;
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease;
  border: 2px solid transparent;
  background-color: white;
}

.code-block-title:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-color: var(--primary-color);
}

.loading-text {
  text-align: center;
  color: var(--text-color);
  font-size: 1.2rem;
  margin-top: 2rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .code-block-list {
    grid-template-columns: 1fr;
  }
  
  .lobby-container h1 {
    font-size: 2rem;
  }
}